body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a4caf3;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

button {
    background-color: #a4caf3;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom:10px;
}

.cart-item img {
    border: 1px solid #ccc;
    padding: 2px;
}